.slider {
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;

    .prev, .next {
      width: 13px;
      height: 20px;
    }

    .prev {
      background: url(/img/slider/prev-slide.png);
      margin-right: 30px;
    }

    .next {
      background: url(/img/slider/next-slide.png);
      margin-left: 30px;
    }

    .mark {
      width: 10px;
      height: 10px;
      margin: 10px;
      border: 2px solid #c3c9d7;
    }

    .active {
      width: 20px;
      height: 20px;
      margin: 5px;
      background: #f1f3f8;
    }
  }
}
