<div class='slider'>
  <img src='{{selectedSlide.url}}' alt="">
  <div class='controls'>
    <div class='prev' (click)='prevSlide()'></div>
    <div
      *ngFor='let slide of slides'
      (click)='setSlide(slide)'
      class='mark' [class.active]='slide === selectedSlide'
    ></div>
    <div class='next' (click)='nextSlide()'></div>
  </div>
</div>
<!--
<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
</div>
-->
